.splashscreen{ background-color: gainsboro !important; }

.switch label input[type=checkbox]:checked+.lever {
    background-color: rgb(139, 219, 174) !important;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: seagreen !important;
    left: 24px;
}

.card {
    border-radius: 20px 20px 20px 20px !important;
}
.btn {
    border-radius: 20px 20px 20px 20px !important;
}