<div class="container">
    <ul class="collection">
        <li class="collection-item avatar" routerLink="/admin/ecash/inquire">
            <i class="circle material-icons seagreen">credit_card</i>
            <span class="title">Inquire Balance</span>
            <p>Get the remaining account balance of a user.</p>
        </li>
        <li class="collection-item avatar" routerLink="/admin/ecash/transact">
            <i class="circle material-icons seagreen">credit_card</i>
            <span class="title">Transact with Montessori Pay</span>
            <p>Add or subtract credits to any account.</p>
        </li>
        <li class="collection-item avatar" routerLink="/admin/ecash/toggle">
            <i class="circle material-icons seagreen">credit_card</i>
            <span class="title">Toggle Montessori Pay</span>
            <p>Enable or disable a Montessori Pay Account</p>
        </li>
    </ul>
</div>

<app-appbar></app-appbar>