<nav class="nav-extended seagreen">
    <div class="nav-content">
		<ul class="tabs tabs-transparent">
            <li class="tab" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                true}">
                <a href="javascript:void(0)" id="homeButton">
                    <i class="material-icons">home</i>
                </a>
            </li>
			<li class="tab" routerLink="/assessment" routerLinkActive="active"[routerLinkActiveOptions]="{exact:
                true}">
                <a href="javascript:void(0)">
                    <i class="material-icons">assessment</i>
                </a>
            </li>
			<li class="tab" routerLink="/ecash" routerLinkActive="active"[routerLinkActiveOptions]="{exact:
                true}"><a href="javascript:void(0)" id="ecashButton">
                    <i class="material-icons">account_balance_wallet</i>
                </a>
            </li>
			<li class="tab" routerLink="/people" routerLinkActive="active"[routerLinkActiveOptions]="{exact:
                true}">
                <a href="javascript:void(0)">
                    <i class="material-icons">group</i>
                </a>
            </li>
			<li class="tab" routerLink="/me" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                true}">
                <a href="javascript:void(0)">
                    <i class="material-icons">account_circle</i>
                </a>
            </li>
        </ul>
	</div>
</nav>