<div class="container">
    <ul class="collection">
        <li class="collection-item avatar" routerLink="/admin/student/add">
            <i class="circle material-icons seagreen">person</i>
            <span class="title">Add a Student</span>
            <p>Create an entry for a new student.</p>
        </li>
        <li class="collection-item avatar" routerLink="/admin/student/add">
            <i class="circle material-icons seagreen">person</i>
            <span class="title">Link Student Account</span>
            <p>Link a Student to a Montessori Account.</p>
        </li>
    </ul>
</div>

<app-appbar></app-appbar>