/* You can add global styles to this file, and also import other style files */
body
    background-color: #EBFDF3;
    font-family: 'Rubik', sans-serif !important;
    overscroll-behavior:none;

.card
    border-radius 25px;
    
.card-img > img
    border-radius 25px 25px 0 0;

.card-action
    border-radius 0 0 25px 25px;
